@use "../common/fonts" as *;
@use "../common/variables" as *;

// ----------- Star button components list
.btn{
  display: inline-block;
  padding: 0.5rem 2.5rem;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.black-trans-btn{
  background-color: $black-off-color;
  color: $white-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  overflow: hidden; // for aimated shine effect
  transition:color 0.5s ease, background 0.5s ease; // for aimated shine effect
  position: relative; // for aimated shine effect

  &:hover {
    background-color: transparent;;
    border: 1px solid rgba(14, 14, 15, 0.2);
    color: $black-off-color;
    &:after{
      left: 140%; // for aimated shine effect
    }
  }
  &:after{
    // for aimated shine effect
    content: "";
    position: absolute;
    top: 0;
    left: -130%;
    width: 80%;
    height: 100%;
    background: linear-gradient(
      -115deg,
      transparent 0%,
      rgba(255, 255, 255, 0.25) 35%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.25) 65%,
      transparent 100%
    );
    transform: skewX(20deg);
    transition: left 2s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
  }
}

.trans-black-btn{
  background-color: transparent;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  overflow: hidden; // for aimated shine effect
  transition:color 0.5s ease, background 0.5s ease; // for aimated shine effect
  position: relative; // for aimated shine effect

  &:hover {
    background-color: $black-off-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
    &:after{
      left: 140%; // for aimated shine effect
    }
  }
  &:after{
    // for aimated shine effect
    content: "";
    position: absolute;
    top: 0;
    left: -130%;
    width: 80%;
    height: 100%;
    background: linear-gradient(
      -115deg,
      transparent 0%,
      rgba(255, 255, 255, 0.25) 35%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.25) 65%,
      transparent 100%
    );
    transform: skewX(20deg);
    transition: left 2s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
  }
}

.shiny-btn{
  background-color: $white-color;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  overflow: hidden; // for aimated shine effect
  transition:color 0.5s ease, background 0.5s ease; // for aimated shine effect
  position: relative; // for aimated shine effect
  display: inline-block; // for aimated shine effect
  &:hover {
    background-color: $black-off-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
    &:after{
      left: 140%; // for aimated shine effect
    }
  }
  &:after{
    // for aimated shine effect
    content: "";
    position: absolute;
    top: 0;
    left: -130%;
    width: 80%;
    height: 100%;
    background: linear-gradient(
      -115deg,
      transparent 0%,
      rgba(255, 255, 255, 0.25) 35%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.25) 65%,
      transparent 100%
    );
    transform: skewX(20deg);
    transition: left 2s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
  }
}
.shiny-trans-btn{
  background-color: transparent;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  overflow: hidden; // for aimated shine effect
  transition:color 0.5s ease, background 0.5s ease; // for aimated shine effect
  position: relative; // for aimated shine effect
  &:hover {
    background-color: $black-off-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
    &:after{
      left: 140%; // for aimated shine effect
    }
  }
  &:after{
    // for aimated shine effect
    content: "";
    position: absolute;
    top: 0;
    left: -130%;
    width: 80%;
    height: 100%;
    background: linear-gradient(
      -115deg,
      transparent 0%,
      rgba(255, 255, 255, 0.25) 35%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.25) 65%,
      transparent 100%
    );
    transform: skewX(20deg);
    transition: left 2s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
  }
}
.shiny-reverse-btn{
  background-color: $black-off-color;
  color: $white-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  overflow: hidden; // for aimated shine effect
  transition:color 0.5s ease, background 0.5s ease; // for aimated shine effect
  position: relative; // for aimated shine effect
  &:hover {
    background-color: $white-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $black-off-color;
    &:after{
      left: 140%; // for aimated shine effect
    }
  }
  &:after{
    // for aimated shine effect
    content: "";
    position: absolute;
    top: 0;
    left: -130%;
    width: 80%;
    height: 100%;
    background: linear-gradient(
      -115deg,
      transparent 0%,
      rgba(255, 255, 255, 0.25) 35%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.25) 65%,
      transparent 100%
    );
    transform: skewX(20deg);
    transition: left 2s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
  }
}
.shiny-reverse-trans-btn{
  background-color: $white-color;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  overflow: hidden; // for aimated shine effect
  transition:color 0.5s ease, background 0.5s ease; // for aimated shine effect
  position: relative; // for aimated shine effect
  &:hover {
    background-color: transparent;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
    &:after{
      left: 140%; // for aimated shine effect
    }
  }
  &:after{
    // for aimated shine effect
    content: "";
    position: absolute;
    top: 0;
    left: -130%;
    width: 80%;
    height: 100%;
    background: linear-gradient(
      -115deg,
      transparent 0%,
      rgba(255, 255, 255, 0.25) 35%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.25) 65%,
      transparent 100%
    );
    transform: skewX(20deg);
    transition: left 2s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
  }
}


