.full-width-banner-image-section {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__placeholder {
    width: 100%;
    height: 100%;
  }
}