@use "../common/variables" as *;

// Footer layout styles
.site-footer {
  background: $white-color;

  .footer-top {
    background: $white-off-color;
    padding: 36px 0;

    .follow-and-social {
      display: flex;
      align-items: center;
      gap: 40px;

      @media (max-width: $screen-md-min) {
        justify-content: space-between;
      }
    }
    .social-icons {
      display: flex;
      gap: 15px;
      align-items: center;
      a {
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-3px);
        }
        img {
          width: 25px;
          height: 25px;
          object-fit: contain;
        }
      }
    }
    .footer-gallery {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 12px;

        li {
          flex: 1;
          img {
            width: 100%;
          }
        }

        @media (max-width: $screen-md-min) {
          display: grid;
          grid-template-columns: repeat(3, 1fr); // 2 equal columns
        }
      }
    }
  }

  .footer-main {
    padding: 44px 0;

    .footer-logo {
      .footer-logo-link{
        display: block;
         @media (max-width: $screen-md-min) {
          text-align: center;
         }
      }
      img {
        max-width: 180px;
        height: auto;
      }
    }
    .footer-contact {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 15px;
          &.fc-items{
            span{
              display: flex;
              align-items: flex-start;
              gap: 25px;
            }
            a {
              display: flex;
              align-items: center;
              gap: 25px;
            }
          }
          a {
            color: inherit;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: $brown-color;
            }
          }
        }
      }
      .footer-social-icon-box {
        display: flex;
        gap: 15px;
        align-items: center;
        a {
          transition: all 0.3s ease;

          &:hover {
            transform: translateY(-3px);
          }
          img {
            width: 25px;
            height: 25px;
            object-fit: contain;
          }
        }
      }
    }

    .footer-links {
      .footer-main-menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr); // 2 equal columns
        gap: 0 20px; // column gap (adjust as needed)
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 8px;
          a {
            color: inherit;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: $brown-color;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background: $brown-light-color-1;

    .footer-bottom-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
    }
    .roses {
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    .footer-bottom-menu {
      a {
        text-decoration: none;
      }
    }
    .newsletter {
    }
  }
}
