$fonts-dyslexie: "dyslexie";

/* Typekit / Webfont names (loaded via Typekit in PHP) */
$fonts-niveau-grotesk-small-caps: "niveau-grotesk-small-caps", sans-serif;
$fonts-helvetica-lt-pro: "helvetica-lt-pro", sans-serif;

/* Dyslexie Fonts */
@font-face {
  font-family: $fonts-dyslexie;
  src:
    url("../../fonts/Dyslexie-Regular.woff2") format("woff2"),
    url("../../fonts/Dyslexie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
