$fonts-dyslexie: "dyslexie";

/* Typekit / Webfont names (loaded via Typekit in PHP) */
$fonts-niveau-grotesk-small-caps: "niveau-grotesk-small-caps", sans-serif;
$fonts-niveau: "niveau-grotesk", sans-serif;
$fonts-helvetica-lt-pro: "helvetica-lt-pro", sans-serif;

/* Font Weights */
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

$font-style-normal: normal;
$font-style-italic: italic;

/* Dyslexie Fonts */
@font-face {
  font-family: $fonts-dyslexie;
  src:
    url("../../fonts/Dyslexie-Regular.woff2") format("woff2"),
    url("../../fonts/Dyslexie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
