@use "fonts" as *;
@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: none;
}

html {
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5rem;
  font-family: $fonts-helvetica-lt-pro;
  color: $black-off-color;
  background-color: $white-color;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 60px;
  font-family: $fonts-niveau-grotesk-small-caps;
  @media (max-width: $screen-md-min) {
    font-size: 50px;
  }
}

h2 {
  font-size: 50px;
  font-family: $fonts-niveau-grotesk-small-caps;
  @media (max-width: $screen-md-min) {
    font-size: 42px;
  }
}

h3 {
  font-size: 32px;
  font-family: $fonts-niveau-grotesk-small-caps;
  @media (max-width: $screen-md-min) {
    font-size: 32px;
  }
}

h4 {
  font-size: 24px;
  font-family: $fonts-niveau-grotesk-small-caps;
  @media (max-width: $screen-md-min) {
    font-size: 24px;
  }
}

h5 {
  font-size: 22px;
  font-family: $fonts-niveau-grotesk-small-caps;
  @media (max-width: $screen-md-min) {
    font-size: 22px;
  }
}

h6 {
  font-size: 18px;
  font-family: $fonts-niveau-grotesk-small-caps;
  @media (max-width: $screen-md-min) {
    font-size: 18px;
  }
}

p {
  font-size: 18px;
  font-family: $fonts-niveau-grotesk-small-caps;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;

  @media (max-width: $screen-md-min) {
    font-size: 22px;
  }
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: inherit;
  // font-family: $fonts-niveau-grotesk-regular;
  font-size: 1em;
  line-height: 1.5rem;
}

a {
  background-color: transparent;
  line-height: 1.5rem;
  color: $black-off-color;
}

a:hover,
a:focus,
a:active {
  color: $black-off-color;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;

  li {
    display: block;
  }
}

.bg_black_off {
  background-color: $black-off-color;
}
.bg_brown {
  background-color: $brown-color;
}

.bg_brown_light {
  background-color: $brown-light-color;
}

.bg_white_off {
  background-color: $white-off-color;
}

.bg_white {
  background-color: $white-color;
}

// ----------- Star button components list
.btn{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.shiny-btn{
  background-color: $white-color;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  &:hover {
    background-color: $black-off-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
  }
}

.shiny-btn{
  background-color: $white-color;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  &:hover {
    background-color: $black-off-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
  }
}
.shiny-trans-btn{
  background-color: transparent;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  &:hover {
    background-color: $black-off-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
  }
}
.shiny-reverse-btn{
  background-color: $black-off-color;
  color: $white-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  &:hover {
    background-color: $white-color;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $black-off-color;
  }
}
.shiny-reverse-trans-btn{
  background-color: $white-color;
  color: $black-off-color;
  border: 1px solid rgba(43, 46, 52, 0.2);
  &:hover {
    background-color: transparent;
    border: 1px solid rgba(43, 46, 52, 0.2);
    color: $white-color;
  }
}



.btn-shine {
  position: relative;
  display: inline-block;
  padding: 16px 40px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #000;
}
.btn-shine span {
  position: relative;
  z-index: 2;
}
.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(25deg);
  transition: left 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 1;
}

/* Hover → left to right */
.btn-shine:hover::before {
  left: 130%;
}

// ----------- End button components list

/*.mobile-d-block {
  display: none;

  @media (max-width: $screen-lg-min) {
    display: flex;
  }
}

.desktop-d-block {
  display: flex !important;

  @media (max-width: $screen-lg-min) {
    display: none !important;
  }
}*/

