// Our custom variables
$back-color: #000;
$black-off-color: #2B2E34;
$brown-color: #986851;
$brown-light-color: #EFE3D2;
$white-off-color: #FAF8F1;
$white-color: #fff;

// Small mobile view
$screen-mobile-min-360: 360px;
$screen-mobile-min: 480px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-min-767: 767px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
