@use "bootstrap/scss/bootstrap";

// Import our variables
@use "common/variables" as *;

/** Import theme styles */
@use "common/global" as *;
@use "common/fonts" as *;
@use "components/buttons";
@use "components/comments";
@use "components/forms";
@use "components/accessibility-modal";
@use "components/accessibility-settings";

@use "layouts/header";
// @use "layouts/sidebar";
@use "layouts/footer";
// @use "layouts/pages";
// @use "layouts/posts";
// @use "layouts/tinymce";
// @use "responsive/responsive";

/** Import Blocks styles */
@use "blocks/introtext-section";
@use "blocks/video-banner-section";
@use "blocks/two-columns-image-with-cta-section";
@use "blocks/slider-with-multiple-box-section";
/*.fonts-niveau-grotesk{
  font-family: $fonts-niveau-grotesk-small-caps;
}

.fonts-helvetica-lt-pro{
  font-family: $fonts-helvetica-lt-pro;
}*/
