@use "../common/fonts" as *;
@use "../common/variables" as *;
@use "../components/buttons" as *;

.two-columns-image-with-cta-section {
  padding: 0;

  .two-columns-image-with-cta-section__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    align-items: stretch;

    @media (max-width: $screen-md-min-767) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  .two-columns-image-with-cta-section__column {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .container {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: 0;
      padding-right: 0;
      width: 100%;

      @media (min-width: 768px) {
        padding-left: var(--bs-gutter-x, 1.5rem);
        padding-right: var(--bs-gutter-x, 1.5rem);
      }
    }
  }

  .two-columns-image-with-cta-section__image {
    width: 100%;
    overflow: hidden;
    position: relative;
    aspect-ratio: 16 / 12;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    .two-columns-image-with-cta-section__icon {
      margin-bottom: 20px;
      position: absolute;
      z-index: 99;
      top: 32px;
      right: 32px;

      img {
        width: auto;
        height: auto;
        max-width: 60px;
        display: block;
      }
    }

  }
  .two-columns-image-with-cta-section__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 30px 0;

    @media (max-width: $screen-md-min-767) {
      padding: 25px 0;
    }
  }



  .two-columns-image-with-cta-section__heading {
    margin-bottom: 15px;
    margin-top: 0;

    &.two-columns-image-with-cta-section__heading {
      h1,
      h2 {
        font-family: $fonts-niveau-grotesk-small-caps;
        font-weight: $font-weight-500;
      }

      h3,
      h4,
      h5,
      h6 {
        font-family: $fonts-niveau;
        font-weight: $font-weight-300;
        font-style: $font-style-normal;
      }

      p {
        font-family: $fonts-niveau;
        font-weight: $font-weight-300;
        font-style: $font-style-normal;
        font-size: 18px;
        line-height: 25px;
      }
    }

    @media (max-width: $screen-md-min-767) {
      margin-bottom: 12px;
    }
  }

  .two-columns-image-with-cta-section__description {
    font-family: $fonts-helvetica-lt-pro;
    font-size: 18px;
    line-height: 25px;
    color: $black-off-color;
    margin-bottom: 20px;
    flex-grow: 1;

    p {
      margin: 0 0 0.5rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $screen-md-min-767) {
      font-size: 18px;
      margin-bottom: 25px;
    }
  }

  .two-columns-image-with-cta-section__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: auto;

    a.btn {
      flex: 0 0 auto;
      padding: 0.75rem 1.5rem;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: none;
      }

      @media (max-width: $screen-md-min-767) {
        font-size: 16px;
        padding: 0.65rem 1.25rem;
      }
    }

    @media (max-width: $screen-md-min-767) {
      gap: 12px;
    }
  }
}
